    <html>
    <head>
        <title>{{ title }}</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta content="width=320, target-densitydpi=device-dpi" name="viewport"/>
        <!--[if gte mso 9]>
    <style _tmplitem="817" >
    .article-content ol, .article-content ul {
       margin: 0 0 0 24px;
       padding: 0;
       list-style-position: inside;
    }
    </style>
    <![endif]-->
</head>
<body style="width: 100% !important;background-color: #dedede;margin: 0;padding: 0;font-family: HelveticaNeue, sans-serif">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="table-layout: fixed;background-color: #dedede" id="background-table">
      <tbody>
        <tr style="border-collapse: collapse"><td bgcolor="#dedede" align="center" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif">
            <table width="640" cellspacing="0" cellpadding="0" border="0" style="margin:0 10px;" class="w640"><tbody><tr style="border-collapse: collapse"><td width="640" height="20" class="w640" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr><tr style="border-collapse: collapse"><td width="640" class="w640" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif">
                <table width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" class="w640" id="top-bar" style="border-radius: 6px 6px 0 0;-moz-border-radius: 6px 6px 0 0;-webkit-border-radius: 6px 6px 0 0;-webkit-font-smoothing: antialiased;background-color: #c7c7c7;color: #ededed"><tbody><tr style="border-collapse: collapse"><td width="15" class="w15" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/>
                    <td width="350" valign="middle" align="left" class="w325" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif">
                        <table width="350" cellspacing="0" cellpadding="0" border="0" class="w325"><tbody><tr style="border-collapse: collapse"><td width="350" height="8" class="w325" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr></tbody></table><div class="header-content" style="-webkit-text-size-adjust: none;-ms-text-size-adjust: none;font-size: 12px;color: #ededed">{{ title }}</div>
                        <table width="350" cellspacing="0" cellpadding="0" border="0" class="w325"><tbody><tr style="border-collapse: collapse"><td width="350" height="8" class="w325" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr></tbody></table></td>
                        <td width="30" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/>
                        <td width="255" valign="middle" align="right" class="w255" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif">
                            <table width="255" cellspacing="0" cellpadding="0" border="0" class="w255"><tbody><tr style="border-collapse: collapse"><td width="255" height="8" class="w255" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr></tbody></table><table cellspacing="0" cellpadding="0" border="0"><tbody><tr style="border-collapse: collapse"/></tbody></table><table width="255" cellspacing="0" cellpadding="0" border="0" class="w255"><tbody><tr style="border-collapse: collapse"><td width="255" height="8" class="w255" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr></tbody></table></td>
                            <td width="15" class="w15" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/>
                        </tr></tbody></table></td>
                    </tr><tr style="border-collapse: collapse"><td width="640" bgcolor="#ffffff" align="center" class="w640" id="header" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif">

                    <table width="640" cellspacing="0" cellpadding="0" border="0" class="w640"><tbody><tr style="border-collapse: collapse"><td width="30" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/><td width="580" height="30" class="w580" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/><td width="30" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr><tr style="border-collapse: collapse"><td width="30" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/>
                        <td width="580" class="w580" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif">
                            <div align="center" id="headline">
                                <p style="color: #444;font-family: HelveticaNeue, sans-serif;font-size: 18px;text-align: center;margin-top: 0;margin-bottom: 30px">
                                    <strong><singleline label="Title">{{ subject }}</singleline></strong>
                                </p>
                            </div>
                        </td>
                        <td width="30" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/>
                    </tr></tbody></table></td>
                </tr><tr style="border-collapse: collapse"><td width="640" height="30" bgcolor="#ffffff" class="w640" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr><tr id="simple-content-row" style="border-collapse: collapse"><td width="640" bgcolor="#ffffff" class="w640" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif">
                <table width="640" cellspacing="0" cellpadding="0" border="0" align="left" class="w640"><tbody><tr style="border-collapse: collapse"><td width="30" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/>
                    <td width="580" class="w580" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif">
                        <repeater><layout label="Text only"><table width="580" cellspacing="0" cellpadding="0" border="0" class="w580"><tbody><tr style="border-collapse: collapse"><td width="580" class="w580" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif">
                            <p align="left" class="article-title" style="border-bottom: 1px dotted #EDEDED;font-size: 15px;line-height: 24px;color: #b0b0b0;font-weight: bold;margin-top: 0;margin-bottom: 18px;font-family: HelveticaNeue, sans-serif"><singleline label="Title">{{ 'Category'|trans }}: </singleline>
                                {% for category in question.category %}
                                {{ category }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <div align="left" class="article-content" style="padding-bottom: 50px;border-bottom: 1px dotted #EDEDED;font-size: 13px;line-height: 18px;color: #444;margin-top: 0;margin-bottom: 18px;font-family: HelveticaNeue, sans-serif">
                                <multiline label="Description">{{ question.title|raw }}</multiline></div>
                            </td>
                        </tr><tr style="border-collapse: collapse"><td width="580" height="10" class="w580" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr></tbody></table></layout><layout label="Text with full-width image"><table width="580" cellspacing="0" cellpadding="0" border="0" class="w580"><tbody><tr style="border-collapse: collapse"><td width="580" class="w580" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif">
                        <p align="left" class="article-title" style="font-size: 15px;line-height: 24px;color: #b0b0b0;font-weight: bold;margin-top: 0;margin-bottom: 18px;font-family: HelveticaNeue, sans-serif"><singleline label="Title">{{ 'Question Type'|trans }}: {{ question.questionType }}</singleline></p>
                    </td>
                </tr><tr style="border-collapse: collapse"><td width="580" height="10" class="w580" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr></tbody></table></layout>

                {% set letters = [
                'A',
                'B',
                'C',
                'D',
                'E',
                'F',
                'G',
                'H',
                'I',
                'J',
                'K',
                'L',
                'M',
                'N',
                'O',
                'P',
                'Q',
                'R',
                'S',
                'T',
                'U',
                'V',
                'W',
                'X',
                'Y',
                'Z'
                ] %}

                {% for item in question.questionHasAnswer %}
                <layout label="Text with right-aligned image"><table width="580" cellspacing="0" cellpadding="0" border="0" class="w580"><tbody><tr style="border-collapse: collapse"><td width="580" class="w580" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif">
                    <table cellspacing="0" cellpadding="0" border="0" align="right"><tbody><tr style="border-collapse: collapse"><td width="15" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/>
                        <td style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"><img width="300" border="0" class="w300" label="Image" editable="true" style="outline: none;text-decoration: none;display: block"/></td>
                    </tr><tr style="border-collapse: collapse"><td width="15" height="5" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/><td style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr></tbody></table><div align="left" class="article-content" style="font-size: 13px;line-height: 18px;color: #444;margin-top: 0;margin-bottom: 18px;font-family: HelveticaNeue, sans-serif">
                    <multiline label="Description"><strong>{{ letters[loop.index0] }})</strong> {{ item.answer.title }}</multiline></div>
                </td>
            </tr><tr style="border-collapse: collapse"><td width="580" height="10" class="w580" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr></tbody></table></layout>
            {% endfor %}

        </repeater></td>
        <td width="30" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/>
    </tr></tbody></table></td></tr><tr style="border-collapse: collapse"><td width="640" height="15" bgcolor="#ffffff" class="w640" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr><tr style="border-collapse: collapse"><td width="640" class="w640" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif">
    <table width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#c7c7c7" class="w640" id="footer" style="border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 6px 6px;-webkit-border-radius: 0 0 6px 6px;-webkit-font-smoothing: antialiased;background-color: #c7c7c7;color: #ededed"><tbody><tr style="border-collapse: collapse"><td width="30" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/><td width="360" height="30" class="w580 h0" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/><td width="60" class="w0" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/><td width="160" class="w0" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/><td width="30" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr><tr style="border-collapse: collapse"><td width="30" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/>
        <td width="360" valign="top" class="w580" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif">
            <span class="hide"><p align="left" class="footer-content-left" id="permission-reminder" style="-webkit-text-size-adjust: none;-ms-text-size-adjust: none;font-size: 12px;line-height: 15px;color: #ededed;margin-top: 0;margin-bottom: 15px;white-space: normal"/></span>
            <p align="left" class="footer-content-left" style="-webkit-text-size-adjust: none;-ms-text-size-adjust: none;font-size: 12px;line-height: 15px;color: #ededed;margin-top: 0;margin-bottom: 15px">{{ footer }}</p>
        </td>
        <td width="60" class="hide w0" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/>
        <td width="160" valign="top" class="hide w0" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif">
            <p align="right" class="footer-content-right" id="street-address" style="-webkit-text-size-adjust: none;-ms-text-size-adjust: none;font-size: 11px;line-height: 16px;color: #b0b0b0;margin-top: 0;margin-bottom: 15px;white-space: normal"/>
        </td>
        <td width="30" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/>
    </tr><tr style="border-collapse: collapse"><td width="30" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/><td width="360" height="15" class="w580 h0" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/><td width="60" class="w0" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/><td width="160" class="w0" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/><td width="30" class="w30" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr></tbody></table></td>
</tr><tr style="border-collapse: collapse"><td width="640" height="60" class="w640" style="border-collapse: collapse;font-family: HelveticaNeue, sans-serif"/></tr></tbody></table></td>
</tr>
</tbody>
</table>
</body>
</html>
