{% extends 'CekurteZCPEBundle::layout-menu-question.html.twig' %}

{% set title    = 'Question'|trans %}
{% set subtitle = 'Edit'|trans %}

{% block links -%}
    {% embed 'CekurteGeneratorBundle:Action:list.html.twig' with {
        'route'      : 'admin_question'
    } only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:create.html.twig' with {
        'route'      : 'admin_question_new'
    } only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:delete.html.twig' with {
        'route'             : 'admin_question_delete',
        'identifierKey'     : 'id',
        'identifierValue'   : entity.id,
        'form'              : delete_form,
        'show_label'        : true
    } only %}
    {% endembed %}
{% endblock %}

{% block content -%}
    <form id="question" class="form-horizontal" role="form" action="{{ path('admin_question_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}

        <div id="answer-message" class="alert alert-danger alert-dismissable fade">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{ 'Error'|trans }}!</strong> <span class="message">{{ 'Select correct answer.'|trans }}</span>
        </div>

        <div class="form-group">
            <div class="col-lg-2">
                <label for="answers">{{ 'Answers'|trans }}</label>:
            </div>
            <div class="col-lg-10">
                <div class="form-group form-group-options col-lg-12 col-sm-8 col-md-4">
                    {% for item in entity.questionHasAnswer %}
                        <div class="input-group input-group-option col-lg-12">
                            <span class="input-group-addon">
                                <input tabindex="-1" type="{% if entity.questionType.id == 1 %}radio{% else %}checkbox{% endif %}" class="correct_answers" name="correct_answers[]" value="{{ loop.index }}" {% if item.correct %}checked="checked"{% endif %}>
                            </span>
                            <input type="text" name="option_answers[{{ loop.index }}]" class="form-control" placeholder="{{ 'New answer'|trans }}" value="{{ item.answer.title }}">
                            <span class="input-group-addon input-group-addon-remove">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include 'CekurteGeneratorBundle:Action:form-actions.html.twig' %}
    </form>
{% endblock %}

{%- block stylesheets -%}
    {{ parent() }}
    <link href="{{ asset('bundles/cekurtezcpe/css/question-and-answer.css') }}" rel="stylesheet"/>
    <link href="{{ asset('vendor/select2/select2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('vendor/select2/select2-bootstrap.css') }}" rel="stylesheet"/>
{%- endblock -%}

{%- block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('bundles/cekurtezcpe/js/question-and-answer.js') }}"></script>
    <script src="{{ asset('vendor/select2/select2.min.js') }}"></script>
    <script src="{{ asset('vendor/select2/select2_locale_pt-BR.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $('select#cekurte_zcpebundle_questionform_category').select2({
                width: '100%'
            });
            $('select#cekurte_zcpebundle_questionform_questionType').select2({
                width: '400px'
            });
        });
    </script>
{%- endblock -%}

