{% extends 'CekurteZCPEBundle::layout-menu-question.html.twig' %}

{% set title    = 'Question'|trans %}
{% set subtitle = 'List'|trans %}

{% block search -%}
    {# {% include 'CekurteZCPEBundle:Question:search.html.twig' %} #}
{% endblock %}

{% block links -%}
    {# {% embed 'CekurteGeneratorBundle:Action:search.html.twig' only %}
    {% endembed %} #}
    {% embed 'CekurteGeneratorBundle:Action:create.html.twig' with {
        'route': 'admin_question_new'
    } only %}
    {% endembed %}
    {# {% embed 'CekurteGeneratorBundle:Action:export.html.twig' with {
        'route': 'admin_question_export'
    } only %}
    {% endembed %} #}
{% endblock %}

{% block links_footer -%}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block content -%}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{ 'Questiontype'|trans }}</th>
                    <th>{{ 'Category'|trans }}</th>
                    <th{% if pagination.isSorted('ck.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'ck.title', {'title' : 'Order by'|trans ~ ' ' ~ 'Title'|trans}) }}</th>
                    <th{% if pagination.isSorted('ck.emailHasSent') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Email has sent'|trans ~ '?', 'ck.emailHasSent', {'title' : 'Order by'|trans ~ ' ' ~ 'Email has sent'|trans ~ '?'}) }}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th{% if pagination.isSorted('ck.approved') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Approved'|trans ~ '?', 'ck.approved', {'title' : 'Order by'|trans ~ ' ' ~ 'Approved'|trans ~ '?'}) }}</th>
                    {% endif %}
                    {% if cekurte_is_granted('RETRIEVE') or cekurte_is_granted('UPDATE') or cekurte_is_granted('DELETE') %}
                        <th class="action">{{ 'Actions'|trans }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <td><a href="{{ path('admin_question_show', { 'id': entity.id }) }}">{{ entity.questionType }}</a></td>
                    <td>
                        {% for category in entity.category %}
                            {{ category }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ entity.title|truncate(50)|raw }}</td>
                    <td>
                        {% if entity.emailHasSent == true %}
                            <button type="button" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span> {{ 'Yes'|trans }}</button>
                        {% else %}
                            <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span> {{ 'No'|trans }}</button>
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            {% if entity.approved == true %}
                                <button type="button" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span> {{ 'Yes'|trans }}</button>
                            {% else %}
                                <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span> {{ 'No'|trans }}</button>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if cekurte_is_granted('RETRIEVE') or cekurte_is_granted('UPDATE') or cekurte_is_granted('DELETE') %}
                        <td>
                            {% embed 'CekurteGeneratorBundle:Action:retrieve.html.twig' with {
                                'route'             : 'admin_question_show',
                                'identifierKey'     : 'id',
                                'identifierValue'   : entity.id
                            } only %}
                            {% endembed  %}
                            {% embed 'CekurteGeneratorBundle:Action:update.html.twig' with {
                                'route' : 'admin_question_edit',
                                'identifierKey'     : 'id',
                                'identifierValue'   : entity.id
                            } only %}
                            {% endembed  %}
                            {% embed 'CekurteGeneratorBundle:Action:delete.html.twig' with {
                                'route'             : 'admin_question_delete',
                                'identifierKey'     : 'id',
                                'identifierValue'   : entity.id,
                                'form'              : delete_form,
                            } only %}
                            {% endembed  %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
