{% extends 'CekurteZCPEBundle::layout-menu-question.html.twig' %}

{% set title    = 'Question'|trans %}
{% set subtitle = 'Add'|trans %}

{% block links -%}
    {% embed 'CekurteGeneratorBundle:Action:list.html.twig' with {
        'route' : 'admin_question'
    } only %}
    {% endembed %}
{% endblock %}

{% block content -%}
    <form id="question" class="form-horizontal" role="form" action="{{ path('admin_question_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-lg-2">
                <label for="answers">{{ 'Answers'|trans }}</label>:
            </div>
            <div class="col-lg-10">
                <div class="form-group form-group-options col-lg-12 col-sm-8 col-md-4">
                    <div class="input-group input-group-option col-lg-12">
                        <span class="input-group-addon">
                            <input tabindex="-1" type="checkbox" class="correct_answers" name="correct_answers[]" value="1">
                        </span>
                        <input type="text" name="option_answers[1]" class="form-control" placeholder="{{ 'New answer'|trans }}">
                        <span class="input-group-addon input-group-addon-remove">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        {% include 'CekurteZCPEBundle:Question:modal-save.html.twig' %}

        {% embed 'CekurteGeneratorBundle:Action:form-actions.html.twig' %}
            {% block action_submit_open %}
                <button id="formQuestionSubmit" type="submit" class="btn btn-primary">
            {% endblock %}
        {% endembed %}
    </form>
{% endblock %}

{%- block stylesheets -%}
    {{ parent() }}
    <link href="{{ asset('bundles/cekurtezcpe/css/question-and-answer.css') }}" rel="stylesheet"/>
    <link href="{{ asset('vendor/select2/select2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('vendor/select2/select2-bootstrap.css') }}" rel="stylesheet"/>
{%- endblock -%}

{%- block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('bundles/cekurtezcpe/js/question-and-answer.js') }}"></script>
    <script src="{{ asset('bundles/cekurtezcpe/js/question-and-answer-authenticated.js') }}"></script>
    <script src="{{ asset('vendor/select2/select2.min.js') }}"></script>
    <script src="{{ asset('vendor/select2/select2_locale_pt-BR.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $('select#cekurte_zcpebundle_questionform_category').select2({
                width: '100%'
            });
            $('select#cekurte_zcpebundle_questionform_questionType').select2({
                width: '400px'
            });
        });
    </script>
{%- endblock -%}
