{% extends 'CekurteZCPEBundle:Question:layout.html.twig' %}

{% set title    = 'Question'|trans %}
{% set subtitle = 'Details'|trans %}

{% block search -%}
    {% embed 'CekurteZCPEBundle:Question:preview.html.twig' %}
        {% block container_open %}<div class="modal fade" id="modalPreview" style="width: 80%;" tabindex="-1" role="dialog" aria-labelledby="modalPreviewLabel" aria-hidden="true">{% endblock %}
        {% block action_submit_label %}{{ 'Send Mail' | trans }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function($) {

            $('#btnModalPreview').on('click', function(e) {

                var src     = $(this).attr('data-iframe-src');
                var height  = $(this).attr('data-iframe-height');
                var width   = $(this).attr('data-iframe-width');

                var iframeElement = $("#modalPreview iframe");

                iframeElement.attr('src',   src);
                iframeElement.attr('height',height);
                iframeElement.attr('width', width);
            });

        });
    </script>
{% endblock %}

{% block links -%}
    {% embed 'CekurteGeneratorBundle:Action:list.html.twig' with {
        'route'      : 'admin_question'
    } only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:retrieve.html.twig' %}
        {% block action %}
            <a id="btnModalPreview" href="#modalPreview" class="btn btn-warning" data-toggle="modal" data-iframe-src="{{ url('admin_question_preview_mail', {'question': entity.id}) }}" data-iframe-height="500" data-iframe-width="860">
                <span class="glyphicon glyphicon-envelope"></span> {{ 'Send Mail' | trans }}
            </a>
        {% endblock %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:update.html.twig' with {
        'route'             : 'admin_question_edit',
        'identifierKey'     : 'id',
        'identifierValue'   : entity.id,
        'show_label'        : true
    } only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:create.html.twig' with {
        'route'      : 'admin_question_new',
    } only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:delete.html.twig' with {
        'route'             : 'admin_question_delete',
        'identifierKey'     : 'id',
        'identifierValue'   : entity.id,
        'form'              : delete_form,
        'show_label'        : true
    } only %}
    {% endembed %}
{% endblock %}

{% block content -%}
    <div class="table-responsive">
        <table class="table table-hover table-show">
            <tbody>
                <tr>
                    <th>{{ 'Questiontype'|trans }}</th>
                    <td>{{ entity.questionType }}</td>
                </tr>
                <tr>
                    <th>{{ 'Category'|trans }}</th>
                    <td>
                        {% for category in entity.category %}
                            {{ category }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Difficulty'|trans }}</th>
                    <td>{{ entity.difficulty }}</td>
                </tr>
                {% if entity.updatedBy %}
                    <tr>
                        <th>{{ 'Updatedby'|trans }}</th>
                        <td>{{ entity.updatedBy }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Updatedat'|trans }}</th>
                        <td>{{ entity.updatedAt|date('d/m/Y H:i:s') }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{{ 'Createdby'|trans }}</th>
                    <td>{{ entity.createdBy }}</td>
                </tr>
                <tr>
                    <th>{{ 'Createdat'|trans }}</th>
                    <td>{{ entity.createdAt|date('d/m/Y H:i:s') }}</td>
                </tr>
                <tr>
                    <th>{{ 'Googlegroupsid'|trans }}</th>
                    <td>{{ entity.googleGroupsId }}</td>
                </tr>
                <tr>
                    <th>{{ 'Title'|trans }}</th>
                    <td>{{ entity.title|raw }}</td>
                </tr>
                <tr>
                    <th>{{ 'Answers'|trans }}</th>
                    <td>
                        {% for item in entity.questionHasAnswer %}
                            <div class="input-group form-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-{% if item.correct %}ok{% else %}remove{% endif %}"></span>
                                </span>
                                <input type="text" class="form-control" placeholder="{{ item.answer.title }}" disabled>
                            </div>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
