{% extends 'CekurteZCPEBundle::layout-menu-question.html.twig' %}

{% set title    = 'Question'|trans %}
{% set subtitle = 'Details'|trans %}

{% block search -%}
    {% if is_granted('ROLE_GMAIL') %}
        {% embed 'CekurteZCPEBundle:Question:preview.html.twig' %}
            {% block content %}{{ preview|raw }}{% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}

{% block links -%}
    {% embed 'CekurteGeneratorBundle:Action:list.html.twig' with {
        'route'      : 'admin_question'
    } only %}
    {% endembed %}
    {% if is_granted('ROLE_GMAIL') %}
        {% embed 'CekurteGeneratorBundle:Action:retrieve.html.twig' %}
            {% block action %}
                <a href="#modalPreview" class="btn btn-warning" data-toggle="modal"><span class="glyphicon glyphicon-envelope"></span> {{ 'Send Mail' | trans }}</a>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {% embed 'CekurteGeneratorBundle:Action:update.html.twig' with {
        'route'             : 'admin_question_edit',
        'identifierKey'     : 'id',
        'identifierValue'   : entity.id,
        'show_label'        : true
    } only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:create.html.twig' with {
        'route'      : 'admin_question_new',
    } only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:delete.html.twig' with {
        'route'             : 'admin_question_delete',
        'identifierKey'     : 'id',
        'identifierValue'   : entity.id,
        'form'              : delete_form,
        'show_label'        : true
    } only %}
    {% endembed %}
{% endblock %}

{% block content -%}
    <div class="table-responsive">
        <table class="table table-bordered table-show">
            <tbody>
                <tr>
                    <th>{{ 'Email has sent'|trans ~ '?'}}</th>
                    <td>
                        {% if entity.emailHasSent == true %}
                            <button type="button" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span> {{ 'Yes'|trans }}</button>
                        {% else %}
                            <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span> {{ 'No'|trans }}</button>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Question has one or more correct answers'|trans ~ '?'}}</th>
                    <td>
                        {% set questionHasOneOrMoreCorrectAnswers = false %}

                        {% for item in entity.questionHasAnswer %}
                            {% if item.correct %}
                                {% set questionHasOneOrMoreCorrectAnswers = true %}
                            {% endif %}
                        {% endfor %}

                        {% if questionHasOneOrMoreCorrectAnswers == true %}
                            <button type="button" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span> {{ 'Yes'|trans }}</button>
                        {% else %}
                            <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span> {{ 'No'|trans }}</button>
                        {% endif %}
                    </td>
                </tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <tr>
                        <th>{{ 'Approved'|trans ~ '?'}}</th>
                        <td>
                            {% if entity.approved == true %}
                                <button type="button" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span> {{ 'Yes'|trans }}</button>
                            {% else %}
                                <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span> {{ 'No'|trans }}</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{{ 'Imported from Google Groups'|trans ~ '?'}}</th>
                    <td>
                        {% if entity.importedFromGoogleGroups == true %}
                            <button type="button" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span> {{ 'Yes'|trans }}</button>
                        {% else %}
                            <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span> {{ 'No'|trans }}</button>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Revised'|trans ~ '?'}}</th>
                    <td>
                        {% embed 'CekurteZCPEBundle:Question:boolean-action.html.twig' with {
                            'route'             : 'admin_question_revised',
                            'identifierKey'     : 'id',
                            'identifierValue'   : entity.id,
                            'fieldValue'        : entity.revised
                        } only %}
                        {% endembed %}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-hover table-show">
            <tbody>
                <tr>
                    <th>{{ 'Question Type'|trans }}</th>
                    <td>{{ entity.questionType }}</td>
                </tr>
                <tr>
                    <th>{{ 'Category'|trans }}</th>
                    <td>
                        {% for category in entity.category %}
                            {{ category }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Difficulty'|trans }}</th>
                    <td>{{ entity.difficulty }}</td>
                </tr>
                {% if entity.updatedBy %}
                    <tr>
                        <th>{{ 'Updated by'|trans }}</th>
                        <td>{{ entity.updatedBy }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Updated at'|trans }}</th>
                        <td>{{ entity.updatedAt|date('d/m/Y H:i:s') }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{{ 'Created by'|trans }}</th>
                    <td>{{ entity.createdBy }}</td>
                </tr>
                <tr>
                    <th>{{ 'Created at'|trans }}</th>
                    <td>{{ entity.createdAt|date('d/m/Y H:i:s') }}</td>
                </tr>
                <tr>
                    <th>{{ 'Google Groups ID'|trans }}</th>
                    <td>{{ entity.googleGroupsId }}</td>
                </tr>
                <tr>
                    <th>{{ 'Google Groups Author'|trans }}</th>
                    <td>{{ entity.googleGroupsAuthor }}</td>
                </tr>
                <tr>
                    <th>{{ 'Title'|trans }}</th>
                    <td>{{ entity.title|raw }}</td>
                </tr>
                <tr>
                    <th>{{ 'Answers'|trans }}</th>
                    <td>
                        {% for item in entity.questionHasAnswer %}
                            <div class="input-group form-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-{% if item.correct %}ok{% else %}remove{% endif %}"></span>
                                </span>
                                <input type="text" class="form-control" placeholder="{{ item.answer.title }}" disabled>
                            </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Comment'|trans }}</th>
                    <td>{{ entity.comment|nl2br }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
